html body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    border: 5px solid black;
    width: 496px;
    height: 496px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.grid-squares {
    width: 29px;
    height: 29px;
    border: 1px solid blue;
}