html body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C0C0C0;
}

#grid {
    border: 5px solid black;
    width: 496px;
    height: 496px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 205px;
}

.grid-squares {
    width: 29px;
    height: 29px;
}

#changeGridSizeBtn {
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
}