html, body {
    height: 100%;
    margin: 0;
    background-color: #C0C0C0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

h1.title {
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.content {
    display: flex;
}

#grid {
    border: 5px solid black;
    width: 496px;
    height: 496px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 15px;
    background-color: white;
    margin-top: 20px;
}

.menu {
    margin: 20px;
    border: 5px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 496px;
}

button {
    margin: 10px;
    height: 30px;
    width: 120px;
    background-color: #C0C0C0;
    border: 3px solid black;
    border-radius: 15px;
}

h2.info {
    margin-top: 20px; 
    text-transform: uppercase;
}

.socTcodes {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 5px;
}

img {
    width: 30px;
    height: 30px;
}